  <%= render "shared/error_messages", model: current_user %>

<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: current_user, local: true do |f|%>
        <div class='nickname_wrap'>
          <%= f.label "お名前(20文字以内)" %><br />
          <%= f.text_field :nickname, class:"nickname", id:"name", placeholder:"例) 一流剣士" %>
        </div>
        <div class="field">
          <%= f.label "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" ,id:"email"%>
        </div>
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            (<%= @minimum_password_length %> 文字以上)
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" , placeholder:"6文字以上", id:"password"%>
          </div>
          
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , id:"password_confirmation"%>
        </div>

        <div class="field">
          <%= f.label "段位"%><br /> 
          <%= f.collection_select(:grade_id, Grade.all, :id, :name, {}, {id:"grade"}) %>
        </div>

        <div class='actions'>
          <%= f.submit "更新", class: 'btn'%>
        </div>
      <% end %>
    </div>
  </div>
</div>
