<%= render "shared/header" %>
<h1>剣道</h1>

<li><%= link_to "技を比較する", new_skill_path,  class: "skill" %></li>

  <div class='skill-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='skill-lists'>
      <% @skills.each do |skill| %>
        <% if skill.compare.public_id == 2 || (user_signed_in? && skill.user.id == current_user.id) %>
        <li class='list'>
          <%= link_to "詳細",skill_path(skill.id)  %>
          <div class='skill-info'>
            <div class='skill-price'>
              <p>動画</p>
                <%= link_to (video_tag rails_blob_path(skill.video) ,size: "400x300" , loop: true, autoplay: true, muted: true), skill_path(skill)%>
              <p><%= "技名：#{skill.youtube.name}" %></p>
              <p><%= "投稿者：#{skill.user.nickname}氏" %></p>
            </div>
          </div>
          <%end%>
        </li>
        <%end%>
    </ul>
  </div>
  <li><%= link_to "クイズはこちら", posts_path,  class: "post" %></li>

<%= render "shared/footer" %>