
  <div class="skills" >
    <div class= "skill">
      <%= link_to "動画をUPして記録する", new_skill_path ,class:"link-skill"%>
      <%= image_tag "play-button.png", class:"play" %>
    </div>
    <div class= "skill">
      <%= link_to "クイズはこちら", posts_path,  class: "link-skill" %>
      <%= image_tag "quiz.png", class:"play" %>
    </div>
  </div>


  <div class='skill-contents'>
      <% @skills.each do |skill| %>
        <% if (skill.compare.nil?) %>
          <div class='skill-info'>
            <div class='skill-video'>
              <%= link_to (video_tag rails_blob_path(skill.video) ,class: "video-index"), skill_path(skill)%>
              <p><%= "技名：#{skill.youtube.name}" %></p>
              <p><%= link_to "投稿者：#{skill.user.nickname}さん #{skill.user.grade.name}",user_path(skill.user.id), class: "user-name" %></p>
            </div>
          </div>
        <%elsif skill.compare.public_id == 2 || (user_signed_in? && skill.user.id == current_user.id)%>
          <div class='skill-info'>
            <div class='skill-video'>
              <%= link_to (video_tag rails_blob_path(skill.video) ,class: "video-index"), skill_path(skill)%>
              <p><%= "技名：#{skill.youtube.name}" %></p>
              <p><%= link_to "投稿者：#{skill.user.nickname}さん #{skill.user.grade.name}",user_path(skill.user.id), class: "user-name" %></p>
              <p><%= "投稿日：#{l skill.created_at}" %></p>
            </div>
          </div>
        <%else%>
        <%end%>
      <%end %>
  </div>
