<%= render "shared/header" %>
<h1>唯心一刀</h1>

<li><%= link_to "技を比較する", new_skill_path,  class: "skill" %></li>

  <div class='skill-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='skill-lists'>

      <% @skills.each do |skill| %>
        <li class='list'>
        <% if user_signed_in? && skill.user.id == current_user.id %>
          <%= link_to "詳細",skill_path(skill.id)  %>
        <% else %>
          <%= link_to "詳細",skill_compares_path(skill.id)  %>
        <% end %>

          <div class='skill-info'>
            <div class='skill-price'>
              <%= skill.technique %>
            </div>
          </div>
        </li>
      <%end%>
    </ul>
  </div>
  <li><%= link_to "クイズはこちら", posts_path,  class: "post" %></li>

<%= render "shared/footer" %>