<div class="how-to-use">
  <div class="block-block"> 
    <div class="block1">
      <div class="container">
          <%= image_tag "1.png", class:"list-title" %>
        <div class="sentence">
          <h3>動画投稿</h3>
          <p class="video-post">自分の動画を投稿しよう。</p>
        </div>
      </div>
      <div class="use-image">
        <%= image_tag "image1.png", class:"video" %>
      </div>
    </div>

    <div class="block1">
      <div class="container">
        <%= image_tag "2.png", class:"list-title" %>
        <div class="sentence">
          <h3>比較・記録</h3>
          <p class="video-post">技に応じた動画が表示されるので比較しよう。上級者との差、自分の改善点を記録しよう。自身で比較したい動画を選択することもできます。公開非公開を選べます。</p>
        </div>
      </div>
      <div class="use-image">
        <%= image_tag "image2.png", class:"video" %>
      </div>
    </div>
  </div>

  <div class="block-block"> 
    <div class="block1">
      <div class="container">
        <%= image_tag "3.png", class:"list-title" %>
        <div class="sentence">
          <h3>コメント</h3>
          <p class="record">他人の動画を見てコメントしよう。言語化することで、またアドバイスをもらい上達しよう。</p>
        </div>
      </div>
      <div class="use-image">
        <%= image_tag "image3.png", class:"video" %>
      </div>
    </div>

    <div class="block1">
      <div class="container">
        <%= image_tag "4.png", class:"list-title" %>
        <div class="sentence">
          <h3>クイズ</h3>
          <p class="comment">動画を見て一本かどうか答えよう。正解するとレベルがアップしていきます。</p>
        </div>
      </div>
      <div class="use-image">
        <%= image_tag "image4.png", class:"video" %>
      </div>
    </div>
  </div>
</div>

  <div class="skills" >
    <div class= "skill">
      <%= link_to "動画をUPして記録する", new_skill_path ,class:"link-skill"%>
      <%= image_tag "play-button.png", class:"play" %>
    </div>
    <div class= "skill">
      <%= link_to "クイズはこちら", posts_path,  class: "link-skill" %>
      <%= image_tag "quiz.png", class:"play" %>
    </div>
  </div>


  <div class='skill-contents'>
      <% @skills.each do |skill| %>
        <% if !(skill.compare.nil?) && skill.compare.public_id == 2 || (user_signed_in? && skill.user.id == current_user.id) %>
          <div class='skill-info'>
            <div class='skill-video'>
              <%= link_to (video_tag rails_blob_path(skill.video) ,class: "video-index"), skill_path(skill)%>
              <p><%= "技名：#{skill.youtube.name}" %></p>
              <p><%= link_to "投稿者：#{skill.user.nickname}さん #{skill.user.grade.name}",user_path(skill.user.id), class: "user-name" %></p>
            </div>
          </div>
        <%end%>
      <%end %>
  </div>
