<!DOCTYPE html>
<html>

<%= render "shared/header" %>

<h2>新規投稿</h2>

<%= form_with model: @skill, local: true do |f| %>

  <div class="field">
    <%= f.label :video %><br />
      <%= f.file_field :video, class:"video", id:"name" %>
  </div>

  <div class="field">
    <%= f.label :technique %><br />
      <%= f.text_field :technique, class:"technique", id:"name" %>
  </div>

  <div class="actions">
    <%= f.submit "比較する" %>
  </div>
    <div id="image-list"></div>

<% end %>


  </body>
  </html>