  記録日<%=@skill.created_at%>
    <% if user_signed_in? && current_user.id == @skill.user.id %>
      <%= link_to '編集', edit_skill_path(params[:id]), method: :get, class: "skill-red-btn" %>
      <%= link_to '削除', skill_path(params[:id]), method: :delete, class:'skill-destroy' %>
    <% end %>

  <% if @skill.video.attached? %>
  <%= video_tag rails_blob_path(@skill.video) ,size: "640x360" , loop: true, autoplay: true, muted: true %>
  <% end %>

  <%# 選択したidによって再生される技に対応する部分テンプレートが表示される。  %>
<%if @skill.compare %>
  <h2>気勢に関して</h2>
  上級者との差<%=@skill.compare.sprits %>
  修正点<%=@skill.compare.sprits2 %>
  <h2>刃筋に関して</h2>
  上級者との差<%=@skill.compare.sword %>
  修正点<%=@skill.compare.sword2 %>
  <h2>竹刀の打突部に関して</h2>
  上級者との差<%=@skill.compare.bamboo %>
  修正点<%=@skill.compare.bamboo2 %>
  <h2>打突部位に関して</h2>
  上級者との差<%=@skill.compare.position %>
  修正点<%=@skill.compare.position2 %>
  <h2>残心に関して</h2>
  上級者との差<%=@skill.compare.zanshin %>
  修正点<%=@skill.compare.zanshin2 %>
  <h2>気付き</h2>
  <%=@skill.compare.notice %>
  <%end%>
</div>
<%= form_with model: [@skill,@comment], id: "form" do |f| %>
  <%if user_signed_in? %>
  <%= f.text_field :text  , id: "comment"%>
  <%= f.submit '投稿する' , id: "submit" %>
  <%end%>
<% end %>

</div>
<div id="list">
<% @comments.each do |comment| %>
  <div id="getid" data-skillid=<%= comment.skill.id %> >
    <div class="comment-date">
      投稿日時：<%= l comment.created_at %>
    </div>
    <div class="comment-content">
      <%= comment.text %>
    </div>
  </div>
<% end %>

<%= link_to "トップへ", root_path,  class: "top" %>

他人のコメントもある。

