<body>

<div class="skill-top">
    <p><%=@skill.youtube.name%></p>
    <%= render "technique/model" %>
</div>
<div class="skill-show-bottom">
  <%= render "technique/element" %>
  <div class="kpt_record">
    <div class="kpt_table">
      <%if @skill.compare %>
        <p class="kpt1"><%="#{@skill.user.nickname}さんの記録 #{l @skill.created_at}"%></p>
        <p class="kpt2">Keep(良いところ、継続すること)</p>
        <p class="kpt3"><%=@skill.compare.continuation %></p>
        <p class="kpt2">Problem(上手い人との差、足りないところ)</p>
        <p class="kpt3"><%=@skill.compare.problem %></p>
        <p class="kpt2">Try(改善点、次回の稽古で意識すること)</p>
        <p class="kpt3"><%=@skill.compare.make_better %></p>
        <p class="kpt2">その他気付き</p>
        <p class="kpt3"><%=@skill.compare.notice %></p>
      <%end%>
    </div>

  <div class="skill-show-block">
    <%= form_with model: [@skill,@comment], data: {"turbolinks" => false}, id: "form" ,local: true do |f| %>
      <%if user_signed_in? %>
        <%= f.text_field :text, id: "comment" ,class: "comment-form", placeholder: "公開コメントを入力する.." %>
        <%= f.submit '投稿する' , id: "submit" %>
      <%else%>
        <p　class="comment-warning">コメントの投稿には新規登録/ログインが必要です</p>
      <%end%>
    <% end %>
    <div class="scroll">
      <% @comments.each do |comment| %>
        <%if comment.skill_id == @skill.id %>
        <div id="getid" class= "comment-area" data-skillid=<%= comment.skill.id %> data-name=<%= comment.user.nickname%> data-time=<%=time_ago_in_words(comment.created_at)%> >
            <div id="list"></div>
          <div class="comment-date">
            <time>
              <%= time_ago_in_words(comment.created_at) %>前
            </time>
          </div>
          <div class="comment-content">
            <%= comment.text %>  by <%= comment.user.nickname%>
            <%if user_signed_in? && comment.user_id == current_user.id %>
              <%= link_to '削除', skill_comment_path(@skill,@comment_del), method: :delete, class:'comment_del_btn' %>
            <%end %>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  </div>
</div>
  <% if user_signed_in? && current_user.id == @skill.user.id %>
    <div class="edit-delete-btn">
      <%= link_to '編集', edit_skill_path(params[:id]), method: :get, class: "skill-edit-btn" %>
      <%= link_to '削除', skill_path(params[:id]), method: :delete, class:'skill-destroy-btn' %>
    </div>
  <% end %>
</body>

<%# 非同期通信をする時に使用 %>
<script>

function comment() {
  const submit = document.getElementById("submit");
  submit.addEventListener("click", (e) => {
    const formData = new FormData(document.getElementById("form"));
    const post = document.getElementById("getid");
    const skillId = post.getAttribute("data-skillid");
    const nickname = post.getAttribute("data-name");
    const time = post.getAttribute("data-time");
    const XHR = new XMLHttpRequest();
    XHR.open("POST", `/skills/${skillId}/comments`, true);
    XHR.responseType = "json";
    XHR.send(formData);
    XHR.onload = () => {
      if (XHR.status != 200) {
        alert(`Error ${XHR.status}: ${XHR.statusText}`);
        return null;
      }
      const item = XHR.response.comment;
      const list = document.getElementById("list");
      const formText = document.getElementById("comment");
      const post = document.getElementById("getid");
      const nickname = post.getAttribute("data-name");
      const time = post.getAttribute("data-time");
      const HTML = `
      <div class= "comment-area">
          <div class="comment-date">
            ${time}前
          </div>
          <div class="comment-content">
            ${item.text}  by ${nickname}
          </div>
      <div>`;
      list.insertAdjacentHTML("afterend", HTML);
      formText.value = "";
    };
    e.preventDefault();
  });
}
window.addEventListener("load", comment);
</script>