  記録日付
動画と自分のコメントを見られる
    <%# <% if user_signed_in? && current_user.id == @skill.user.id 条件分岐はあとで%> %>
<%= link_to '編集', edit_skill_path(params[:id]), method: :get, class: "skill-red-btn" %>
<%= link_to '削除', skill_path(params[:id]), method: :delete, class:'skill-destroy' %>
    <%# <% end 条件分岐はあとで%> %>

  <% if @skill.video.attached? %>
  <%= video_tag rails_blob_path(@skill.video) %>
  <% end %>  
  <%# <%=@skill.compare.sprits %> %>
  <%# <%=@skill.compare.sprits2%> %>
  <%# <%=@skill.compare.sword %> %>
  <%# <%=@skill.compare.sword2 %> %>
  <%# <%=@skill.compare.position %> %>
  <%# <%=@skill.compare.position2 %> %>
  <%# <%=@skill.compare.zanshin%> %>
  <%# <%=@skill.compare.zanshin2%> %>
  <%# <%=@skill.compare.notice%> %>
<div id="list">
</div>
<%= form_with model: [@comment,@skill],url:"/skills/#{@skill.id}/compares", id: "form" do |f| %>
  <%= f.text_field :comment  , id: "comment"%>
  <%= f.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>
  <%if @comments.present?%>%
<% @comments.each do |comment| %>
  <div class="comment" data-skillid = <%= comment.skill.id %> data-compareid = <%= comment.compare.id %>>

    <div class="comment-date">
      投稿日時：<%= comment.created_at %>
    </div>
    <div class="comment-content">
      <%= comment.content %>
    </div>
  </div>
<% end %>
<% end %>

<%= link_to "トップへ", root_path,  class: "top" %>

他人のコメントもある。

