<body>
<%# <%= require "json" %>
<%# 非同期通信で使用 %> 
    
   <%= render "technique/model" %>

<div class="skill-show-bottom">
  <div class="kpt">
    <%# 選択したidによって再生される技に対応する部分テンプレートが表示される。  %>
    <%if @skill.compare %>
      <h2>良いところ、継続すること</h2>
      <%=@skill.compare.amagata %>
      <h2>上手い人との差、足りないところ</h2>
      <%=@skill.compare.problem %>
      <h2>改善点、次回の稽古で意識すること</h2>
      <%=@skill.compare.make_better %>
      <h2>その他気付き</h2>
      <%=@skill.compare.notice %>
    <%end%>
  </div>
  <div class="skill-show-block">
    <%= form_with model: [@skill,@comment], id: "form" ,local: true do |f| %>
      <%if user_signed_in? %>
        <%= f.text_field :text, id: "comment" ,class: "comment-form", placeholder: "公開コメントを入力する.." %>
        <%= f.submit '投稿する' , id: "submit" %>
      <%end%>
    <% end %>
<%# <div id="list">非同期通信で使用? %>
    <% @comments.each do |comment| %>
      <%if comment.skill_id == @skill.id %>
        <div id="getid" class= "comment-area" data-skillid=<%= comment.skill.id %> >
          <div class="comment-date">
            <time datetime="<%= comment.created_at %>">
              <%= time_ago_in_words(comment.created_at) %>前
            </time>
          </div>
          <div class="comment-content">
            <%= comment.text %>  by <%= comment.user.nickname%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  <% if user_signed_in? && current_user.id == @skill.user.id %>
    <div class="edit-delete-btn">
      <%= link_to '編集', edit_skill_path(params[:id]), method: :get, class: "skill-edit-btn" %>
      <%= link_to '削除', skill_path(params[:id]), method: :delete, class:'skill-destroy-btn' %>
    </div>
  <% end %>
</body>

<script>

function comment() {
  const submit = document.getElementById("submit");
  submit.addEventListener("click", (e) => {
    const formData = new FormData(document.getElementById("comment"));
    const XHR = new XMLHttpRequest();
    const post = document.getElementById("getid");
    console.log(post)
    const skillId = post.getAttribute("data-skillId");
    console.log(skillId)
    // //日付オブジェクトを作成する
    // const dd = new Date();
    // //「年」を取得する
    // const YYYY = dd.getFullYear();
    // //「月」を取得する
    // const MM = dd.getMonth()+1;
    // //「日」を取得する
    // const DD = dd.getDate();
    // console.log(dd)

    debugger;
    XHR.open("POST", `/skills/${skillId}/comments`, true);
    XHR.responseType = "json";
    debugger;
    XHR.send(formData);
    console.log(formData);
    // debugger
    XHR.onload = () => {
      if (XHR.status != 200) {
        alert(`Error ${XHR.status}: ${XHR.statusText}`);
        return null;
      }
      const item = XHR.response.comment;
      console.log(item)
      const list = document.getElementById("list");
      const formText = document.getElementById("comment");

      const HTML = `
        <div class="comment" data-id=${item.id}>
          <div class="comment-date">
            投稿日時：${YYYY}/${MM}/${DD};
          </div>
          <div class="post-comment">
          ${item.text}
          </div>

        </div>`;
      list.insertAdjacentHTML("afterend", HTML);
      formText.value = "";
    };
    e.preventDefault();
  });
}
window.addEventListener("load", comment);
</script> %>