<%= form_with model: @skill, local: true ,data: {"turbolinks" => false} do |f| %>

  <div class="field">
    <%= f.label :video %><br />
      <%= f.file_field :video, class:"video_field", id:"video-name" , required: true%>
  </div>

  <div class="field">
    <%= f.label :"技名" %><br />
    <%= f.collection_select(:youtube_id, Youtube.all, :id, :name, {}, {id:"youtube-name"}) %>
  </div>

  <div class="actions">
    <%= f.submit "比較する" %>
  </div>
    <%# <div id="image-list"></div>プレビュー機能 %>

<% end %>