<div class="kpt_table">
  <%= form_with model:[@skill,@compare], data: {"turbolinks" => false}, local: true do |f| %>
    <div class="field">
      <%= f.label value="良いところ" %><br />
        <%= f.text_area :continuation, class:"continuation", id:"continuation" %>
    </div>

    <div class="field">
      <%= f.label "比較した結果差があると感じたこと" %><br />
        <%= f.text_area :problem, class:"problem", id:"problem" %>
    </div>

    <div class="field">
      <%= f.label "改善すること、次回の稽古で試してみること" %><br />
        <%= f.text_area :make_better, class:"make_better", id:"make_better" %>
    </div>
    
    <div class="field">
      <%= f.label "その他気づいたこと" %><br />
        <%= f.text_area :notice, class:"notice", id:"notice" %>
    </div>

    <div class="field">
      <%= f.label "公開設定"%><br /> 
      <%= f.collection_select(:public_id, Public.all, :id, :name, {}, {class:"public-select"}) %>
    </div>

    <%= f.submit "投稿する" ,class: "post-button"%>
  <% end %>
</div>