<%= form_with model: @skill, local: true ,data: {"turbolinks" => false} do |f| %>

  <div class="field">
    <%= f.label :video %><br />
      <%= f.file_field :video, class:"video", id:"name" %>
  </div>

  <div class="field">
    <%= f.label :"技名" %><br />
    <%= f.collection_select(:youtube_id, Youtube.all, :id, :name, {}, {class:"youtube-select"}) %>
  </div>

  <div class="actions">
    <%= f.submit "比較する" %>
  </div>
    <div id="image-list"></div>

<% end %>