<%= render 'shared/error_messages', model: @compare %>
<%= render "technique/model" %>
<div class="skill-show-bottom">
   <%= render "technique/element" %>
   <%= render "shared/form2" %>
</div>
<%= link_to '投稿を取りやめる', skill_path(params[:skill_id]), method: :delete, class:'skill-destroy-btn' %>
