      <%= form_with model:[@skill,@compare], data: {"turbolinks" => false}, local: true do |f| %>
  <%# <%= render "shared/error_messages", resource: @skill %> %>

<%# <% if @skill.video.attached? %> %>
  <%= video_tag rails_blob_path(@skill.video) ,size: "640x360" , loop: true, autoplay: true, muted: true %>
<%# <% end %> %>

  <%= render "technique/men" %>


    <%# <% unless user_signed_in? || current_user.id != @skill.user.id 条件分岐はあとで%> %>
      <h2>上手い人との差</h2>
        <input type="radio" name="grp1" value="1" onclick="hide('grp1');">かく
        <input type="radio" name="grp1" value="2" onclick="hide('grp1');">書かない
        <div class="field">
          <%= f.label "充実した気勢" %><br />
            <%= f.text_field :sprits, class:"sprits", id:"sprits" %>
        </div>

        <div class="field">
          <%= f.label "適正な姿勢" %><br />
            <%= f.text_field :posture, class:"posture", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "竹刀の打突部" %><br />
            <%= f.text_field :bamboo, class:"bamboo", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "打突部位" %><br />
            <%= f.text_field :position, class:"position", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "正しい刃筋" %><br />
            <%= f.text_field :sword, class:"sword", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "残心" %><br />
            <%= f.text_field :zanshin, class:"zanshin", id:"name" %>
        </div>

        <h2>改善すること</h2>

        <div class="field">
          <%= f.label "充実した気勢" %><br />
            <%= f.text_field :sprits2, class:"sprits2", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "適正な姿勢" %><br />
            <%= f.text_field :posture2, class:"posture2", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "竹刀の打突部" %><br />
            <%= f.text_field :bamboo2, class:"bamboo", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "打突部位" %><br />
            <%= f.text_field :position2, class:"position", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "正しい刃筋" %><br />
            <%= f.text_field :sword2, class:"sword", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "残心" %><br />
            <%= f.text_field :zanshin2, class:"zanshin2", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "気付き" %><br />
            <%= f.text_area :notice, class:"notice", id:"name" %>
        </div>

        <div class="field">
          <%= f.label "公開設定"%><br /> 
          <%= f.collection_select(:public_id, Public.all, :id, :name, {}, {class:"public-select"}) %>
        </div>

      <%= f.submit "投稿する" %>
    <% end %>
    <%# <% end条件分岐はあとで %> %>
</div>
<script>
function hide(name){
  //ラジオボタンオブジェクトを取得する
  var radios = document.getElementsByName(name);
 
  //取得したラジオボタンオブジェクトから選択されたものを探し出す
  var result;
  for(var i=0; i<radios.length; i++){
    if (radios[i].checked) {
      //選択されたラジオボタンのvalue値を取得する
      result = radios[i].value;
      break;
    }
  }
  //value値を表示する
  // alert("value値は" + result + "です");
  // radios.addEventListener("onClick", (e) => {
    // console.log(e);
    // debugger
  if (result == 1){
    if (document.getElementById( "sprits" ).value == "なし"){
    document.getElementById( "sprits" ).value = "" ;
    }
    let a = document.getElementById("sprits")
    a.removeAttribute("type","hidden");
    // if (result ==2){
    //   a.removeAttribute("type","hidden");
    // }
  } else if(result == 2){
    let a = document.getElementById("sprits")
    a.setAttribute("type","hidden");
    document.getElementById( "sprits" ).value = "なし" ;
  }
// })
}
window.addEventListener("onChange", hide);
</script>
