

<h2>新規投稿</h2>

<%= form_with model: @post, local: true do |f| %>

  <div class="field">
    <%= f.label :judge_correct_id %><br />
    <%= f.collection_select(:judge_correct_id, JudgeCorrect.all, :id, :name, {}, {class:"judge-correct-select"}) %>
  </div>

  <div class="field">
    <%= f.label :difficulity_id %><br />
    <%= f.collection_select(:difficulity_id, Difficulity.all, :id, :name, {}, {class:"judge-correct-select"}) %>
  </div>

  <div class="field">
    <%= f.label :gif_url %><br />
      <%= f.text_field :gif_url, class:"gif_url", id:"name" %>
  </div>

  <div class="field">
    <%= f.label :video %><br />
      <%= f.file_field :video, class:"video", id:"name" %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
      <%= f.text_area :description, class:"description", id:"name" %>
  </div>

  <div class="actions">
    <%= f.submit "投稿" %>
  </div>
<% end %>