<!DOCTYPE html>
<html>
  <body>
<div class="videos">
    <% if @post.video.attached? %>
      <%= video_tag rails_blob_path(@post.video) ,size: "640x360" , loop: true, autoplay: true, muted: true ,class: "post-video"%>
    <%elsif @post.gif_url%>
      <%= image_tag "#{@post.gif_url}/raw" ,class: "post-video" %>
    <%else%>
      <div id="player"></div>
    <% end %>
</div>

    <% if user_signed_in? && current_user.id == @post.user.id  %>
      <%= link_to '編集', edit_post_path(params[:id]), method: :get, class: "skill-edit-btn" %>
      <%= link_to '削除', post_path(params[:id]), method: :delete, class:'skill-destroy-btn' %>
    <%elsif Judge.find_by(user_id: current_user.id, post_id: @post.id).present?%>
      <%="前回のあなたの回答は#{@ok_or_ng}でした。" %>
      <%= link_to '再チャレンジする', edit_post_judge_path(params[:id]), class: "skill-edit-btn" %>
    <%else%>
      <%= link_to '回答する', new_post_judge_path(params[:id]), class: "skill-edit-btn" %>
    <% end %>

  </body>
</html>