<div class="post-show">
    <h2 class="name">
      <%= image_tag "#{@post.gif_url}/raw", alt: "一本判定動画#{@post.id}" %>
    </h2>
<% if @post.video.attached? %>
  <%# <%= video_tag rails_blob_path(@post.video) %> %>
    <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls></video>

<% end %>

    <%# <% if user_signed_in? && current_user.id == @post.user.id 条件分岐はあとで%> %>
      <%= link_to '編集', edit_post_path(params[:id]), method: :get, class: "post-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', post_path(params[:id]), method: :delete, class:'post-destroy' %>
    <%# <% end 条件分岐はあとで%> %>

    <%# <% unless user_signed_in? || current_user.id != @post.user.id 条件分岐はあとで%> %>
      <%= form_with(model: [@post, @judge] , local: true) do |f| %>
        <div class="post-explain-box">
          <span><%= @post.description %></span>
        </div>
        <div class="field">
          <%= f.label :judge_correct_id %><br />
          <%= f.collection_select(:judge_correct_id, JudgeCorrect.all, :id, :name, {}, {class:"judge-correct-select"}) %>
        </div>
        <div class="actions">
        
        <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment, class:"comment", id:"name", placeholder:"例) 四段" %>
  </div>
          <%= f.submit "正解を見る" %>
        </div>
      <% end %>
    <%# <% end条件分岐はあとで %> %>



</div>
