<div class="post-show">
  <div class="post-box">
    <h2 class="name">
      <%= "一本判定動画#{@post.id}" %>
    </h2>

    <% if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to '商品の編集', edit_post_path(params[:id]), method: :get, class: "post-red-btn" %>
      <p class='or-text'>or</p>
      <%= link_to '削除', post_path(params[:id]), method: :delete, class:'post-destroy' %>
    <% end %>

    <%= form_with model: @post, local: true do |f| %>
      <%= f.check_box_tag(:pet_dog) %>
      <%= f.label_tag(:pet_dog, "I own a dog") %>
      <%= f.check_box_tag(:pet_cat) %>
      <%= f.label_tag(:pet_cat, "I own a cat") %>
    <% end %>

    <div class="post-explain-box">
      <span><%= @post.description %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-post">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-post">カテゴリー</th>
          <td class="detail-value"><%= @post.description %></td>
        </tr>
        <tr>
      </tbody>
    </table>
</div>
