<%# <!DOCTYPE html> %>
<%# <html> %>
  <head>
    <title>KendoIppon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <header class='top-page-header'> 
    <div class='search-bar-contents'>
      <%= link_to image_tag("kendo.png", class:"ippon-icon"), "/" %>
    </div> 

  <%if user_signed_in? %>
    <div class="user"> 
    </div>
  <%end%> 
    <div class='nav'>
      <ul class='lists-right'>
        <%if user_signed_in?%>
          <li class="list-top"><%= link_to "#{current_user.nickname}", user_path(current_user.id),class: "user_link" %></li>
          <li class="list-top"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
        <%else%>
          <li class="list-top"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li class="list-top"><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>
</header>

    <%= yield %>

    <%# /下部広告部分 %>
<footer>
  <h2 class='footer-content-head'>剣道一本</h2>
  <ul class='lists'>
    <li><%= link_to '剣道一本について', "#", class: "nippon-link" %></li>
    <li><%= link_to '全日本剣道連盟', "https://www.kendo.or.jp/", class: "nippon-link" %></li>
  </ul>
  <p>© Kendo-Ippon-Training 2020</p>
</footer>
  </body>
<%# </html> %>
