<!DOCTYPE html>
<html>
  <head>
    <title>KendoIppon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta charset="UTF-8" />
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.26.0/babel.js"></script>

  </head>

  <body>
  <header class='top-page-header'> 
    <div class='search-bar-contents'>
      <%= link_to image_tag("kendo.png", class: "ippon-icon"), "/",name: "link" %>
    </div> 
    
    <div class="how-to-use">
  <%if user_signed_in? %>
    <div class="user"> 
    </div>
  <%end%> 
    <div class='nav'>
      <ul class='lists-right'>
        <%if user_signed_in?%>
            <li class="list-top"><%= link_to "#{current_user.nickname}", user_path(current_user.id),class: "user_link",name: "link" %></li>
            <li class="list-top"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" ,name: "link" %></li>
        <%else%>
          <li class="list-top"><%= link_to 'ゲストログイン', "/users/guest_sign_in", method: :post %></li>
          <li class="list-top"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
          <li class="list-top"><%= link_to '新規登録', new_user_registration_path , class: "sign-up" %></li>
        <%end%>
      </ul>
    </div>
</header>

    <%= yield %>

    <footer>
      <h2 class='footer-content-head'>〜比較・記録・改善で上達しよう〜</h2>
      <ul class='lists'>
        <li><%= link_to '剣道一本について', "#", class: "nippon_link" ,name: "link"%></li>
        <li><%= link_to '全日本剣道連盟', "https://www.kendo.or.jp/", target: "_blank", rel: "noopener noreferrer",class: "nippon_link" ,name: "link"%></li>
      </ul>
      <p class="kendo-ippon">© Kendo-Ippon 2020</p>
    </footer>
  </body>
</html>
